default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000
  host: localhost
  username: moss-user
  password: password

development:
  <<: *default
  database: moss-back-dev

test:
  <<: *default
  database: moss-back-test

production:
  <<: *default
  database: moss-back-production
